[phases.setup]
nixPkgs = ["python39", "python39Packages.pip", "nodejs-18_x", "ffmpeg"]

[phases.install]
cmds = [
    "python3 -m pip install --upgrade pip",
    "python3 -m pip install -r requirements.txt",
    "cd frontend && npm install"
]

[phases.build]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "python3 main.py"